#navigation
{
    margin-bottom: 3vh;
}
.searchBox
{
    margin-bottom: 3vh;
}
.carousel-control-prev,
  .carousel-control-next {
    width: 10%;
    filter: invert(100%);
  }
  
  .container {
    position: relative;
  }

