#navigation
{
    margin-bottom: 3vh;
}
.searchBox
{
    margin-bottom: 3vh;
}
.carousel-control-prev,
  .carousel-control-next {
    width: 10%;
    filter: invert(100%);
  }

  .container-fluid.no-padding {
    padding-left: 0;
    padding-right: 0;
}
.custom-icon-size
{
  font-size: 3vh;
}
